@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
body, html {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background: transparent !important;
}
h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px 0;
  font-weight: 400;
  font-size: 26px;
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: #608dfd;
  font-weight: 400;
}
a:hover, a:focus {
  text-decoration: none;
  color: #608dfd;
}
ul, ol {
  list-style: none;
}
ul, ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}
hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1E7A46;
  margin-bottom: 20px;
  border: 0;
}
/* Navigation */
#menu {
  padding: 15px;
  transition: all 0.8s;
}
#menu.navbar-default {
  background-color: #fff;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 6px rgba(0,0,0,0.25);
}
#menu a.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  color: #79af32;
  padding: 12px 0px;
  text-transform: uppercase;
  height: auto;
}
#menu.navbar-default .navbar-nav {
    margin: 0;
  background: #fff;    
}
#menu.navbar-default .navbar-nav > li > a {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 2px;
  border-radius: 0;
  margin: 5px 10px 0px 10px;
}

#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  margin: 0px auto; 
  width: 0;
  height: 2px;
  background: #79af32;
  right: 0px;
  content: "";
  transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
#menu.navbar-default .navbar-nav > li > a.active:after {
  width: 100%;
}
#menu.navbar-default .navbar-nav li:last-child a {
    padding-right: 0px;
    margin-right: 0px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after, .navbar-default .navbar-nav > .active > a:hover:after, .navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: #fb5b21;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
  background-color: #608dfd;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -1px;
}
.section-title p {
  font-size: 18px;
}
.btn-custom {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #000;
  background-color: none;
  letter-spacing: 1px;
  margin: 0 !important;
  padding: 8px 20px 6px !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  border-radius: 25px !important;
  transition: all 0.2s linear !important;
  border: 1px solid #999 !important;
  line-height: 20px;
  font-weight: bold;
}

.btn-custom.white {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: none;
  letter-spacing: 1px;
  margin: 0;
  padding: 8px 20px 6px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.2s linear;
  border: 1px solid #999;
  line-height: 20px;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
  color: #fff !important;
  background-image: none;
  background-color: #79af32;
  border: 1px solid #fff
}
.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* Header Section */
.intro {
  display: table;
  width: 100%;
  padding: 0;
  background-color: #090909;
  margin-top: 63px;
  max-height: 750px;
  text-align: center !important;
}
.intro .overlay {
  background: rgba(0,0,0,0);
}
.intro h1 {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.intro h1 span {
  font-weight: 800;
  color: #be1e2d;
}
.intro p {
  color: #fff;
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
header .intro-text {
  padding-top: 20%;
  padding-left: 0px;
  padding-bottom: 0px;
  text-align: center;
  position: absolute;
  top: 0px;
}
/* Features Section */
#features {
  padding: 100px 0;
  background: #f6f6f6;
}
#features i.fa {
  font-size: 38px;
  margin-bottom: 20px;
  transition: all 0.5s;
  color: #fff;
  width: 100px;
  height: 100px;
  padding: 30px 0;
  border-radius: 50%;
  background: linear-gradient(to right, #6372ff 0%, #be1e2d 100%);
  box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
/* About Section */
#about {
  padding: 80px 0 0;
  min-height: 475px;
}
#about h3 {
  font-size: 22px;
  margin: 0 0 20px 0;
}
#about h2 {
  position: relative;
}
#about .about-text {
  padding: 0px;
}
#about .about-img {
  padding: 0px 20px;
}
#about .about-text p {
  margin: 0px 0px 20px 0px;
  font-size: 16px;
  padding: 0px;
}
#about .about-text li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}
#about .about-text li:before {
  content: '\f00c';
  font-family: 'FontAwesome';
  color: #be1e2d;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
#about img {
  width: 520px;
  margin-top: 10px;
  background: #fff;
  border-right: 0;
}
#about .section-title {
  margin-bottom: 0px;
}
/* Membership Section */
#membership {
  padding: 100px 0;
  background: #79af32;
  color: #fff;
}
#membership .membership-desc {
  margin: 10px 10px 40px 10px;
}
#membership h2 {
  color: #fff;
}
#membership .section-title h2::after {
  position: absolute;
  content: "";
  background: rgba(255,255,255,.3);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
#membership i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: transparent;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #fff;
}
#membership h3 {
  padding: 5px 0;
    color: #000;
    text-transform: uppercase;
    font-weight: 600 !important;
}
#membership p {
  color: rgba(255,255,255,.75);
}
/* Programs Section */
#programs {
  padding: 100px 0;
  /*background: #000 url('../images/slides/banner_5.jpg') fixed;*/
  background-size: 100%;  
}
#programs h2, #programs p {
  color: #fff;
}
.programs-item {
  margin: 12px -5px 12px -5px;
  padding: 0;
}
.programs-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
}
.programs-item img {
  width: 100%;
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: #79af32;
  padding: 2% 20%;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  margin: 10px 0px 10px 0px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}
.hover-bg:hover .hover-text>h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}
/* Testimonials Section */
#testimonials {
  padding: 180px 0;
 /* background: #000 url('../images/slides/banner_2.jpg');*/
  background-size: cover;
}
#testimonials h2, #testimonials p {
  color: #fff;
}
#testimonials i {
  color: #e6e6e6;
  font-size: 32px;
  margin-bottom: 20px;
}
.testimonial {
  position: relative;
  padding: 20px 0px;
}
.testimonial-image {
  float: left;
  margin-right: 15px;
}
.testimonial-image, .testimonial-image img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.testimonial-content {
  position: relative;
  overflow: hidden;
}
.testimonial-content p {
  margin-bottom: 0;
  font-size: 14px;
  font-style: italic;
}
.testimonial-meta {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #f5f5f5;
}
#testimonials .carousel-control.right, #testimonials .carousel-control.left {
    display: none;
}
#testimonials .carousel-indicators {
  bottom: -30px;
}
/* Trainers Section */
#trainers {
  padding: 100px 0;
}
#trainers h4 {
  margin: 5px 0;
}
#trainers .trainers-img {
  width: 240px;
}
#trainers .thumbnail {
  background: transparent;
  border: 0;
}
#trainers .thumbnail .caption {
  padding: 10px 0 0 0;
  color: #888;
}
/* Pricing */
#pricing-table {
    margin: 0px auto;
    text-align: center;
    width: 100%; 
}
#pricing-table .plan .plan-details {
    background: #fff;      
    color: #000;
    padding: 20px 20px 40px;
    border-radius: 10px; 
}
#pricing-table h3 {
  font-size: 26px;
  font-weight: normal;
  min-height: 200px;
  letter-spacing: -1px;
}
#pricing-table #most-popular h3 {
    color: #000;
    margin-top: -30px;
    padding-top: 30px;
    border-radius: 5px 5px 0 0;         
}
#pricing-table .plan:nth-child(1) h3 {
    border-radius: 5px 0 0 0;       
}
#pricing-table .plan:nth-child(4) h3 {
    border-radius: 0 5px 0 0;       
}
#pricing-table h3 span {
    display: block;
    font: bold 25px/100px Georgia, Serif;
    color: #000;
    background: none;
    border: 1px solid #ddd;
  height: 120px;
  width: 120px;
  line-height: 120px;
  margin: 40px auto 0px;
    border-radius: 100px;
}
#pricing-table ul {
    margin: 20px 0 30px 0;
    padding: 0;
    list-style: none;
}
#pricing-table li {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}
/* Page Not Found Section */
#page-not-found {
  padding: 200px 0 150px;
  min-height: 600px;
}
#page-not-found h1 {
  font-size: 130px;
  font-weight: bold;
  color: #fb5b21;
}
#page-not-found h3 {
  font-size: 22px;
}
#page-not-found .section-title {
  margin-bottom: 0px;
}
#page-not-found p {
    margin: 0 0 50px;
}
/* --------------- */
.clear:before, .clear:after {
  content:"";
  display:table
}
.clear:after {
  clear:both
}
.clear {
  zoom:1
} 
/* Contact Section */
#contact {
  padding: 100px 0 60px 0;
  color: #fff;
  /*background: #000 url('../images/slides/banner_6.jpg');*/
  background-size: cover;
}
#contact .section-title {
  margin-bottom: 40px;
}
#contact .section-title p {
  font-size: 16px;
}
#contact h2 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#contact h3 {
  color: #fff;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}
#contact form {
  padding-top: 20px;
}
#contact .text-danger {
  color: #cc0033;
  text-align: left;
}
#contact .btn-custom {
  margin: 0px 0px 30px;
  background: transparent;
  border: 1px solid #999;
  color: #fff;
}
#contact .btn-custom:hover {
  color: #fff;
  background-image: none;
  background-color: #79af32;
  border: 1px solid #fff;
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 12px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #444;
  background: none;
  border: 1px solid #999;
  border-radius: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  height: auto;
}
#contact .form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .contact-item {
  margin: 20px 0;
}
#contact .contact-item span {
  color: rgba(255,255,255,1);
  margin-bottom: 10px;
  display: block;
}
#contact .contact-item i.fa {
  margin-right: 10px;
}
#contact .social {
  border-top: 1px solid rgba(255,255,255,0.15);
  padding-top: 50px;
  margin-top: 50px;
  text-align: center;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 10px;
}
#contact .social i.fa {
  font-size: 22px;
  width: 48px;
  height: 48px;
  padding: 12px 0;
  border: 1px solid #999;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
#contact .social i.fa:hover {
  color: #fff;
  background-image: none;
  background-color: #fb5b21;
  border: 1px solid #e44810;
}
/* Footer Section*/
#footer {
  background: #79af32;
  padding: 30px 0px 20px;
}
#footer p {
  color: #fff;
  font-size: 12px;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  border-bottom: 2px solid #608dfd;
}
@media (max-width: 768px) {
#about img {
  margin: 50px 0 0;
}
header .intro-text {
    padding-top:10%;
}
}
@media (max-width: 480px) {
.intro h1 {
  font-size: 40px;
}
.intro p {
  display: none;
}
header .intro-text {
    padding-top:10%;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}
}

#contact .form-control {
    width: 31%;
    float: left;
    margin: 1%;
    margin-bottom: 10px;
}
#contact .form-control {
    color: #fff;
}